/* Correction */
/* .User {
  width: 32rem;
  background: #fff;
  border-radius: 6px;
  padding-bottom: 2rem;
}

.User__Picture {
  width: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.User__Information {
  padding: 0 2rem;
  text-align: left;
}

.User__Name {
  color: rgb(80, 85, 110);
  margin: 1rem 0;
}

.User__Location {
  position: relative;
  display: block;
  color: rgb(194, 191, 191);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  top: -15px;
}

.User__Interest {
  background-color: #5352ed;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0 1rem;
  height: 30px;
  border-radius: 20px;
}

.Interest:not(:first-of-type) {
  margin-right: 0.5rem;
} */

.profile {
  width: 32rem;
  background: #fff;
  border-radius: 6px;
  padding-bottom: 2rem;
}

.picture {
  width: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.info {
  padding: 0 2rem;
  text-align: left;
}

.Name {
  color: rgb(80, 85, 110);
  margin: 1rem 0;
}

.Location {
  position: relative;
  display: block;
  color: rgb(194, 191, 191);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  top: -15px;
}

.Interest {
  background-color: #5352ed;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0 1rem;
  height: 30px;
  border-radius: 20px;
}

.Interest:not(:first-of-type) {
  margin-right: 0.5rem;
}